<div class="nav">
  <div>
    <h2>Property Cross</h2>
  </div>
  <div>
    <app-button (click)="navigateToFavor()" [id]="buttonFavor" label="Favorite"></app-button>
  </div>
</div>

<div>
  Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to
  search in your current location!
</div>
<br>
<div class="search-block">
  <div class="search-item">
    <mat-form-field class="input-wrapper">
      <input matInput type="text" [(ngModel)]="value" placeholder="Search">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="buttons">
    <div class="button-wrapper">
      <app-button (click)="doSearch()" [id]="buttonSearch" label="Go"></app-button>
    </div>
    <div class="button-wrapper">
      <app-button (click)="defineLocation()" [id]="buttonLocation" label="My location"></app-button>
    </div>
  </div>
</div>
<br>

<app-error [errorMessage]="errorMessage" [show]="isErrorState"></app-error>

<div *ngIf="isRecentSearches" class="recent-searches">
  <p> Recent searches: </p>
  <div class="result-block">
  </div>
</div>
<div *ngIf="isListLocation" class="location-list">
  <p> Please select a location below: </p>
  <div class="result-block">
  </div>
</div>
<div class="items-wrapper">
  <div *ngFor="let product of products" (click)="navigateToItem(product.id)" class="item-wrapper">
    <app-product-item [link]="product.link" [location]="product.location" [price]="product.price"
      [description]="product.description"></app-product-item>
    <br>
  </div>
</div>
