<div class="nav">
  <div>
    <h2>Property Details</h2>
  </div>
  <div>
    <app-button (click)="goToFavorite()" [id]="buttonGoFavorite" label="Favorite"></app-button>
  </div>
</div>
<div class="card-wrapper">
  <mat-card class="card">
    <mat-card-header class="card-wrapper">
      <mat-card-title>City: {{item.location}}</mat-card-title>
      <mat-card-subtitle> Price: {{item.price}} $</mat-card-subtitle>
    </mat-card-header>
    <div class="card-wrapper">
      <img mat-card-image [src]="item.link" alt="item-image" class="image">
    </div>
    <mat-card-content>
      <p>
        This apartment includes: {{item.bedCount}} bed(s),{{item.bathroomsCount}} bathrooms
      </p>
      <div class="property-description">{{item.description}}</div>
    </mat-card-content>
    <mat-card-actions class="card-wrapper">
      <button mat-stroked-button color="primary" (click)="addToFavorite(item.id, $event)">Add to favorite</button>
      <button mat-stroked-button color="primary" (click)="navigateToSearch()">Back to main</button>
    </mat-card-actions>
  </mat-card>
</div>
