<h2>
  Test buttons
</h2>
<div>
  <p>Custom button</p>
  <app-button [id]="'button-enabled'"
              label="Custom"
              width="130px"
              background="blue"
              [text-color]="'white'"></app-button>
  <br/>
  <br/>
  <p>Active button</p>
  <app-button [id]="'button-enabled'"
              label="Active"></app-button>
  <br/>
  <br/>
  <p>Disabled button</p>
  <app-button [id]="'button-disabled'"
              label="Disabled"
              [disabled]="true" ></app-button>
  <br/>
</div>
